.button {
  min-width: 118px;
  height: 36px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
}